* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #FDFAF5;
    height: max-content;
}

.main-header {
    padding: 10px 0px 10px 0px;

}

.logo {
    margin-left: 30px;
    height: 100px;
    width: 300px;
}

.time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.time-content {
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.user {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-top: 45px;
}

aside {
    text-align: left;
    margin-right: 30px;
    font-size: 15px;
    /* background-color: antiquewhite; */
    height: max-content;
}

.title-user {
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.slider {
    height: 500px;
    margin: 5px;
}

footer {
    height: max-content;
    background-color: #c59d6b;
    text-align: center;
}

.nav-item {
    padding-left: 20px;
}

.menu {
    padding-left: 60px;
}

.search {
    padding-right: 50px;
    width: 30%;
}

.cart {
    padding-right: 100px;
}

.card {
    align-items: center;
    text-align: center;
}

li {
    list-style: none;
}

.form-footer {
    width: 60%;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.social {
    margin: 20px 10px;
    color: black;
}

.nav-link {
    color: black;
}

a {
    color: #FFFFFF;
    font-weight: bold;
}

.title-mon-an {
    margin-left: 30px;
    width: 95%;
    height: 50px;
    padding: 10px 0 10px 0;
    background-color: #C59D6B;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.title-head {
    width: 100%;
    height: 50px;
    padding: 10px 0 10px 0;
    background-color: #C59D6B;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.detail-img {
    /* margin-left: 50px; */
    height: 450px;
    width: 450px;
}

.detail-content {
    width: 400px;
    border-bottom: black solid 1px;
    font-size: 18px;
    margin: 10px;
}

.quality {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.items-count {
    width: 40px;
    height: 40px;
}

.input-text {
    text-align: center;
    width: 150px;
}

.box-qty {
    margin-left: 15px;
}

.btn-add {
    font-size: 15px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #C59D6B;
    color: white;
    border-color: #C59D6B;
    margin: 15px;
}

.btn-add:hover {
    background-color: #FFFFFF;
    color: #C59D6B;
}

.title-datmon {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.frm-dx {
    text-align: center;
    font-size: 20px;
    border: black solid 2px;
    border-radius: 15px;
    padding: 5px;
    background-color: #ecd5b8;
}

/* .title-frm {
    background-color: #c59d6b;
    border-radius: 15px 15px 0 0;
    padding: 3px;
} */

section{
    margin: 30px;
}

.text1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

th, td {
    border: 1px solid #000;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a{
    text-decoration: none;
    color: white;
}

.text-left{
    margin-top: 30px;
    float: left;
    font-size: 30px;
}

.text-right{
    margin-top: 30px;
    float: right;
    font-size: 30px;
}

.btn-out{
    background-color: #c59d6b;
    font-size: 28px;
    padding: 10px 50px; /* Khoảng cách giữa nội dung và biên của button */
    display: flex;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.loc{
    float: right;
    padding-bottom: 30px;
    padding-right: 30px;
    font-size: 20px;
}
